/.deps/*
*/.deps/*
*/*/.deps/*
*.o
*.Po
*.la
*.lo
*.dll
*.exe
*.a
*.bat
Makefile
compat/*
Makefile.in
*/Makefile.in
*.bin
aclocal.m4
autom4te.cache/
ccan/opt/.dirstamp
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
sgminer
stamp-h1
m4/libtool.m4
m4/ltoptions.m4
m4/ltversion.m4
m4/lt~obsolete.m4
